@import '/src/variables.global.less';

.list_underline_grey {
  border-bottom: 1px solid  @greyEC;
}
.list_underline_grey:hover{
  color: @orange;
}
.card_dropdown:hover {
  color: @orange;
  cursor: pointer;
  path {
    fill: @orange;
  }
}
.card_dropdown {
  text-align: left;
  path {
    fill:  #808080;
  }
}
.card_dropdown svg {
  vertical-align: middle;
  margin-right: 6px;
}
